<% @blog = Blog.first %>
<% title = "About Us" %>
<% meta_tag :description, "About Partners in Growth" %>
<div class="blog-container">
<div class="title-author-top">
  <p>
    <h1 class="center navy-text">
      <strong>
      <%= @blog.title %>
      </strong>
    </h1>
  </p>
</div>

<div class="content-area col-lg-12 col-xs-12">
  <%= image_tag @blog.cover_photo.url(:large), class:"cover-photo" %>
  <%= raw(@blog.content) %>

<hr>
<div class="buffer"></div>
</div>
